body {
  background-image: url("/public/img/hero-section-bg.png");
  background-attachment: fixed;
  font-size: 18px;
}

nav {
  background-color: rgba(0, 0, 0, 0.473);
}

.hero-section {
  background-color: rgba(0, 0, 0, 0.473);
  height: 100vh;
}

.understanding-reality {
}
